body{
    background-size: cover;
    background-position: center;
    }
.heading {
    width: 100%;
    text-align: left;
}

.heading h4 {
    display: inline;
}

.heading button {
    float: right;
    border: 1px ridge black;
}

.copy_right_footer {
    position: fixed;
    color:  rgb(255, 255, 255);
    bottom: 0;
    background-color: #000000;
    line-height: 3;
    text-align: center;
    width: 100%;
    border: 1px ridge white;
    font-family: times;
}
.modal-body{
    text-align: left;
}